<article class="article" id="article-illustration">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Picturing Energy Efficiency
            </h1>
            <h2 class="subtitle">
                How to describe two-hundred methods of saving energy without words
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">



<p>When we decided to build a new design system for Opower (<a href="#opattern">check out this page</a> for a deep-dive on that process), we made some bold decisions about imagery. Specifically, we decided that stock photography had to disappear from all of our products for a few different reasons:</p>
<ol>
<li>Stock photography didn’t fit with the rest of the design system. </li>
<li>We always had to settle when choosing a photograph: it was rare that we ever found the perfect photo that nailed the concept.</li>
<li>Photographs were too locale-specific. Since Opower went international, we needed a library of images that worked for a multitude of countries, ethnic groups, and cultures.</li>
<li>Stock photos? Gross.</li>
</ol>
<p>Out with photos! In with <strong>custom illustrations</strong>. </p>
<p>We use images in a few different ways across Opower’s web, email, and print products. The most common use, however, was instructional: to demonstrate energy-efficient behaviors or the outcomes of saving energy. Most of our products make use of an expansive library of instructional tips—how-to guides for becoming more efficient—and every tip had a descriptive photograph. </p>
<p>To help us define a unique illustration style to replace these photographs, we brought in visual designer <a href="http://www.dowddesign.com/">Amanda Dowd</a>. The style had to be simple and friendly, and also had to translate well across languages and locales.</p>
<p><img src="assets/img/illustration/illustration-style.png" alt="Illustration style"></p>
<p>While Amanda nailed down our style, we settled on some rules for our new illustration system:</p>
<div class="flow">

<p>
<strong>No people</strong><br>We could convey human presence or activity, but we should never depict actual humans. 
<img src="assets/img/illustration/no-people.png" alt="No people">
</p>

<p>
<strong>Simple color</strong><br>Keep the colors in a neutral palette of grays, except for one color that would pop and draw attention to the energy-efficient behavior (this color would be customizable to match our customers’ brands).
<img src="assets/img/illustration/palette.png" alt="Color palette">

<p>
<strong>Keep it fun</strong><br>Every so often, throw in a cat. Or a dog, or bird, or any fun quirky thing to make our products fun, family-friendly, and interesting.
<img src="assets/img/illustration/cat.png" alt="Cat">
</p>

<p>
<strong>Two sizes</strong><br>Every illustration should come in two levels of detail: a more detailed version to blow up big, and a smaller, less-detailed version for thumbnails and decorative elements.
<img src="assets/img/illustration/two-sizes.png" alt="Two sizes">
</p>

</div>

<p>With our style designed and our framework established, we started churning out illustrations. We only had a few hundred to do! The designers who contributed to this awesome library include <a href="http://www.dowddesign.com/">Amanda Dowd</a>, <a href="http://arthurmount.com/">Arthur Mount</a>, <a href="http://www.ryanhansz.com/">Ryan Hansz</a>, myself, and many others.</p>
<div class="image-grid no-shadow" style="padding: 20px 0;">
    <div class="image-grid-50">
        <div>
<img src="assets/img/illustration/illustrations-1.png" alt="Illustrations">
        </div>
    </div>
    <div class="image-grid-50">
        <div>
<img src="assets/img/illustration/illustrations-2.png" alt="Illustrations">
        </div>
    </div>
    <div class="image-grid-50">
        <div>
<img src="assets/img/illustration/illustrations-3.png" alt="Illustrations">
        </div>
    </div>
    <div class="image-grid-50">
        <div>
<img src="assets/img/illustration/illustrations-4.png" alt="Illustrations">
        </div>
    </div>
</div>

<p>Yeah, there are at least a hundred more of these. Check back soon for an article about illustration systems at scale!</p>



    </div>
</article>
