<article class="article" id="article-illustrating-opower">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Illustrating Opower
            </h1>
            <h2 class="subtitle">
                I work in a pretty cool setting... perhaps too unique for words.
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">



<h3 id="_occasionally_-opower-unlocks-the-shackles-chaining-employees-to-their-desks-and-lets-us-all-work-on-projects-of-our-choosing-https-blog-opower-com-2014-11-innovation-day-for-a-short-while-"><em>Occasionally</em>, Opower unlocks the shackles chaining employees to their desks and lets us all work on <a href="https://blog.opower.com/2014/11/innovation-day/">projects of our choosing</a> for a short while.</h3>
<p>These “innovation days” usually lead to some off-the-wall ideas, but in my case—warning, pun ahead—I put my ideas right back on the wall (I warned you). I’d always wanted to give mural artwork a shot, so I created the vector illustration below, had it printed on adhesive vinyl, and slapped it on one of our office walls. Next time I’ll break out the paint markers, but this was a fun way to dip my toes in the water. I was kidding about the chains by the way, Opower is pretty cool.</p>
<p><img src="assets/img/mural/mural-sketch.jpg" alt="Mural sketch">
<img src="assets/img/mural/mural-wallversion.jpg" alt="Finished mural"></p>
<p>I also recorded my screen while creating the mural in Illustrator, so here’s a fun look at the mural’s journey from a few bezier curves into a vectorized representation of my perspective of Opower’s culture. </p>
<div class="movie-wrap">
<iframe class="movie" width="560" height="315" src="//www.youtube.com/embed/quW7C7N2c6k" frameborder="0" allowfullscreen></iframe>
</div>

<p>When we moved offices in San Francisco in 2015, I followed up with a new illustration in the same style to unite the offices! By this point we had opened three more offices across the world, so I added elements of Tokyo, Singapore, and London. See if you can find Godzilla!</p>
<p><img src="assets/img/mural/sf-mural.jpg" alt="Finished mural"></p>




    </div>
</article>
