<article class="article" id="article-opower-ux-team-site">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                The Opower UX Team site
            </h1>
            <h2 class="subtitle">
                Collaborating with @jimjones, I built a fun site about the Opower User Experience Team.
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">



<h3 id="i-work-with-some-of-the-best-user-experience-designers-in-the-country-we-get-to-help-people-save-money-by-using-less-energy-a-unique-design-challenge-but-an-edifying-one-">I work with some of the best user experience designers in the country! We get to help people save money by using less energy: a unique design challenge, but an edifying one.</h3>
<p>When we set out to design a site for the team, we wanted it to accomplish three main goals:</p>
<ul>
<li>Become a resource for information and inspiration for other design teams</li>
<li>Showcase some of the thinking and process that goes into our product design</li>
<li>Pique the interests of anyone wanting to collaborate with us</li>
</ul>
<p><img src="assets/img/team-site-screenshot1.jpg" alt="ux.opower.com screenshot"></p>
<p><a href="https://twitter.com/JimJones">Jim Jones</a> was the genius behind the sharp visuals; my contributions were project management, illustration, and code. We wanted the site to tell a linear story, so we went with a single-page format that ends with a call-to-action to get in contact with the team.</p>
<p><img src="assets/img/team-portraits.png" alt="ux.opower.com team illustrations"></p>
<p>I had a little fun with the illustrations. Rosie (the team dog) had trouble sitting still to pose for her headshot.</p>
<h2 id="code">Code</h2>
<p>I got to experiment with some new tech on this project! My dev environment included everything that I usually roll with: <a href="https://www.npmjs.org/">npm</a> for package management, <a href="http://gruntjs.com/">Grunt</a> for task management, <a href="http://sass-lang.com/">Sass</a> (and <a href="https://github.com/sass/libsass">Libsass</a>) for style, <a href="http://bourbon.io/">Bourbon</a> for great Sass shortcuts, and various other timesavers. The new tech I incorporated was <a href="http://assemble.io/">Assemble</a>, which is a really great static site generator that runs on Node.js. Assemble allowed us to use <a href="">Handlebars</a> and Markdown format to build the project, but assembles everything into static files with a simple Grunt task. Assemble lays the path for lovely separation of concerns: I keep content in YAML content files, structure in Handlebars files, and reusable components in partials.</p>
<p>I’m also happy to report that the javascript is of the pure vanilla kind: no frameworks or plugins found here, other than d3 and <a href="https://github.com/qrohlf/trianglify">Trianglify</a> for the beautiful background geometry.</p>
<p>Visit the site here: <a href="https://ux.opower.com">ux.opower.com</a></p>




    </div>
</article>