<article class="article" id="article-about-me">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Hey! I’m Justin, and this is my website.
            </h1>
            <h2 class="subtitle">
                I don’t like labels, but you can call me an interaction designer if you’re into that.
            </h2>
        </div>
        <a class="close-article" href="#/">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">



{{#markdown}}

###_Presently_, I enjoy wearing multiple hats at [Opower](https://www.opower.com), where I work with a team of talented people to design and build products that help people save energy.

We’re doing a pretty decent job with that, but you could read up on it elsewhere. My own active contributions to Opower include building a visual design language, architecting a framework for front-end development, and [drawing on the walls](#/illustrating-opower). I tend to solve most problems with overuse of the CSS transition property.

>“The solution to this complex UX problem is animation. Lots of it.” <span class="cite">— Me</span>

##Some words about my career (this is boring, I would skip it)

I started getting into this stuff (design, development, and art) more than 15 years ago. Before studying at [George Mason University](http://www.gmu.edu/), I created logos and terrible websites for friends, back when Geocities and the term “[webmaster](http://www.urbandictionary.com/define.php?term=Webmaster&defid=4322012)” were things. I kicked around in the government consulting world for awhile, where much of my creative ambition was crushed (warning to young designers: creativity is not rewarded in the Pentagon’s windowless, musty conference rooms), but found renewal in the halls of academia, helping teachers incorporate technology into their coursework. Georgetown University gave me a graduate degree in [Communication, Culture, and Technology](http://cct.georgetown.edu/), after which I hopped over to the cleantech industry (and swapped the East Coast for the West). 

Opower thinks they’re lucky to have me, but the truth (hopefully my colleagues aren’t reading this) is that I’m humbled whenever I go to the office: we’re doing some cool things to try to save the world, and I’m just happy to be here pretending to help.

##Things I like

User Experience, visual design, and front-end development are my jam. I’m also into drawing and illustration, and if you want to get a sense of how I doodle you can check out some [figure drawing](#/figure-drawing) and the [mural](#illustrating-opower) I made for the Opower office in Virginia. I climb at [Mission Cliffs](http://www.touchstoneclimbing.com/mission-cliffs) and regularly trust my life with strangers, so let me know if you want to trade belays. I’m suddenly aware that I’m writing this like an OKCupid profile, sorry about that. Oh—completely different note—I’m starting to explore the world of biohacking, and love a good conversation about nutrition, exercise, dreaming, and concepts like neuroplasticity. 

##Speaking and Writing

When I have some free time, I write about saving energy with design, the social responsibilities of interaction designers, and wackier stuff like how to solve problems while dreaming.

**Talks I’ve given:**

_**The Web is Inefficient, but We can Fix It**_
- [Future of Web Design](https://futureofwebdesign.com/nyc-2014/), 2014
- [RefreshDC](http://refresh-dc.org/), February 2014
- [TakeOffConf](http://takeoffconf.com/2014) 2014

##In conclusion

Hopefully, reading this weird narrative about me was interesting to you, and not at all awkward like it was for me to write. I’m bad with endings.


{{/markdown}}



    </div>
</article>
