<article class="article" id="article-enterprise-web">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                The Enterpise Web
            </h1>
            <h2 class="subtitle">
                Your household energy utility is bad at building good customer experiences, but that’s about to change.
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">


{{#markdown}}

No matter where you live, you’re likely to have a poor relationship with your energy provider for a variety of reasons, not least of which is the typically bad user experience of their website. Opower intends to fix that. 

Enter the **Enterprise Web**, my team’s reimagining of the utility customer experience.

## So what’s the problem?

As always, we begin by defining the problem we intend to solve. Our UX researchers designed qualitative and quantitative research studies, conducted over several months, to define the status quo of the utility web experience in the United States. 

We surveyed users. We talked to the people working in utility companies’ customer call centers. We mapped out the information architectures of dozens of utility websites. And we dug up some interesting findings.

1. There’s a disconnect between what utility companies think their users need from a website and what users actually need.
1. No utility website has the same (or even similar) information architecture. 
1. Most people hate logging in to their utility’s website. The number one reason: they can’t find what they need. Another big reason: creating an account or logging in is a hassle.

One other problem that we knew about utility websites—based on what our customers were telling us—is that they’re usually built piece-by-piece by a variety of vendors. The bill payment company builds the bill pay experience, then bolts it onto a CMS provided by another vendor. An outage management company builds their piece and does the same. A consistent, accessible user experience is tough to maintain in this scenario, especially since these vendors typically try to sell the full stack of their applications, including their own front-end and user experience.

With these problems in mind, the goal became clear:

> Prototype a best-in-class utility web experience, and minimize the utility’s cost to serve its customers 

## The approach

This project was massive in scale, and we had a tight timeline, so it was all hands on deck. We divvied the work across the design team into a few different streams:

<div class="flow">

<p>
**Information architecture design**  
Our content strategists took the lead in designing a new site IA that was clear, navigable, and aligned with what the research told us were the most important tasks from the users’ perspective. They also worked on a new, clearer vocabulary for those tasks based on language patterns from applications like [PayPal](https://www.paypal.com/home), [Mint](https://www.mint.com/), and [Venmo](https://venmo.com/).
</p>

<p>
**Interaction design**  
A team of amazing UX designers redesigned all the major necessities of a utility website from the ground up, using our standard design process (explore / ideate / test / iterate). They focused first on the login and new user experience, and then moved to complex interactions like bill payment, outage reporting, and a service request flow.
</p>

<p>
**Prototyping and visual design**  
Since Opower’s UX team includes a roster of front-end/designer hybrids, we were able to prototype and apply the visual design simultaneously. We made the call to prototype on the actual platform that powers our production web apps, so that the transition from prototype to functional application would be fast and smooth. And, obviously, we used our home-grown design system [Opattern](/#opattern) to bring things to life, and we kept everything responsive and optimized for the mobile web.
</p>

</div>

We’re pretty excited about what we came up with. Roam around the demo at your leisure, although you’ll probably hit a login wall at some point, so I’ve got some screen captures down below.

> [The Enterprise Web](https://util.opower.com/ei/x/landing?fixtures=true&notLoggedIn=1)

<div class="image-grid opattern" style="padding: 20px 0;">
    <div class="image-grid-70">
        <div>
![The Enterprise Web](assets/img/enterprise/landing.jpg)
        </div>
    </div>
    <div class="image-grid-30">
        <div>
![The Enterprise Web, mobile](assets/img/enterprise/landing-mobile.jpg)
        </div>
    </div>
    <div class="image-grid-50">
        <div>
![The Enterprise Web](assets/img/enterprise/dbro.jpg)
        </div>
    </div>
    <div class="image-grid-50">
        <div>
![The Enterprise Web](assets/img/enterprise/bill.jpg)
        </div>
    </div>
</div>

The new user experience:

<div class="image-grid opattern" style="padding: 20px 0;">
    <div class="image-grid-33">
        <div>
![The new user experience](assets/img/enterprise/newuser-1.jpg)
        </div>
    </div>
    <div class="image-grid-33">
        <div>
![The new user experience](assets/img/enterprise/newuser-2.jpg)
        </div>
    </div>
    <div class="image-grid-33">
        <div>
![The new user experience](assets/img/enterprise/newuser-3.jpg)
        </div>
    </div>
</div>

Starting a new service:

<div class="image-grid opattern" style="padding: 20px 0;">
    <div class="image-grid-33">
        <div>
![The start service experience](assets/img/enterprise/service-1.jpg)
        </div>
    </div>
    <div class="image-grid-33">
        <div>
![The start service experience](assets/img/enterprise/service-2.jpg)
        </div>
    </div>
    <div class="image-grid-33">
        <div>
![The start service experience](assets/img/enterprise/service-3.jpg)
        </div>
    </div>
    <div class="image-grid-33">
        <div>
![The start service experience](assets/img/enterprise/service-4.jpg)
        </div>
    </div>
    <div class="image-grid-33">
        <div>
![The start service experience](assets/img/enterprise/service-5.jpg)
        </div>
    </div>
    <div class="image-grid-33">
        <div>
![The start service experience](assets/img/enterprise/service-6.jpg)
        </div>
    </div>
</div>

The outage map:

<div class="image-grid opattern" style="padding: 20px 0;">
    <div class="image-grid-100">
        <div>
![Outage report](assets/img/enterprise/outage.jpg)
        </div>
    </div>
</div>

Paying a bill:

<div class="image-grid opattern" style="padding: 20px 0;">
    <div class="image-grid-50">
        <div>
![Bill payment](assets/img/enterprise/bill-1.jpg)
        </div>
    </div>
    <div class="image-grid-50">
        <div>
![Bill payment](assets/img/enterprise/bill-2.jpg)
        </div>
    </div>
    <div class="image-grid-50">
        <div>
![Bill payment](assets/img/enterprise/bill-3.jpg)
        </div>
    </div>
    <div class="image-grid-50">
        <div>
![Bill payment](assets/img/enterprise/bill-4.jpg)
        </div>
    </div>
</div>

{{/markdown}}

    </div>
</article>