<article class="article" id="article-figure-drawing">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Selected Drawings of Semi-clothed Persons
            </h1>
            <h2 class="subtitle">
                I spend most of my time in front of a computer screen, so I value any opportunity I get to draw.
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

{{#markdown}}

Figure drawing is great exercise, and I like to experiment with different wet and dry media. If you like to draw and live in the Washington, DC area, I definitely recommend the [Washington Drawing Center](https://washingtondrawingcenter.org/). Now that I live in San Francisco, I try to attend [Figure drawing at the Red Victorian](https://embassynetwork.com/locations/redvic/events/360/figure-drawing-class-sf-sketchboard/) on Haight Street.

<div class="image-grid" style="padding: 40px 0;">
    <div class="image-grid-50">
        <div style="background-image: url(assets/img/drawings/fig1.jpg); height: 500px;"></div>
    </div>
    <div class="image-grid-50">
        <div style="background-image: url(assets/img/drawings/fig2.jpg); height: 240px;"></div>
        <div style="background-image: url(assets/img/drawings/fig3.jpg); height: 230px;"></div>
    </div>
</div>
<div class="image-grid" style="padding: 40px 0;">
    <div class="image-grid-30">
        <div style="background-image: url(assets/img/drawings/fig4.jpg); height: 300px;"></div>
    </div>
    <div class="image-grid-30">
        <div style="background-image: url(assets/img/drawings/fig5.jpg); height: 300px;"></div>
    </div>
    <div class="image-grid-40">
        <div style="background-image: url(assets/img/drawings/fig6.jpg); height: 300px;"></div>
    </div>
</div>
<div class="image-grid" style="padding: 40px 0;">
    <div class="image-grid-50">
        <div style="background-image: url(assets/img/drawings/fig7.jpg); height: 500px;"></div>
    </div>
    <div class="image-grid-50">
        <div style="background-image: url(assets/img/drawings/fig8.jpg); height: 500px;"></div>
    </div>
</div>
<div class="image-grid" style="padding: 40px 0;">
    <div class="image-grid-30">
        <div style="background-image: url(assets/img/drawings/fig9.jpg); height: 350px;"></div>
    </div>
    <div class="image-grid-40">
        <div style="background-image: url(assets/img/drawings/fig10.jpg); height: 350px;"></div>
    </div>
    <div class="image-grid-30">
        <div style="background-image: url(assets/img/drawings/fig11.jpg); height: 350px;"></div>
    </div>
</div>

Sometimes I draw animals too! I like creatures with lots of texture.

<div class="image-grid">
    <div class="image-grid-100">
        <div>
![](assets/img/drawings/rhino.jpg)
        </div>
    </div>
    <div class="image-grid-50">
        <div style="background-image: url(assets/img/drawings/bird.jpg); height: 350px;"></div>
    </div>
    <div class="image-grid-50">
        <div style="background-image: url(assets/img/drawings/turtle.jpg); height: 350px;"></div>
    </div>
</div>

{{/markdown}}



    </div>
</article>
