<article class="article" id="article-figure-drawing">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Drawing the Human Form
            </h1>
            <h2 class="subtitle">
                A quick thesis on the importance of practicing non-digital art.
            </h2>
        </div>
        <a class="close-article" href="#/">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">



{{#markdown}}

I took a figure drawing class in undergrad, where we sketched live models every session. We had a final project in that class, and the assignment: a life-size self portrait. Nude. We even had a group critique session on the final day of class, where every student had to hang their drawing on the wall and lead a discussion about the strengths and weaknesses of their own charcoal-rendered naked bits. You won’t be seeing that drawing on this website (you’re welcome), but I do love figure drawing, and did a lot of it at the [Washington Drawing Center](http://washingtondrawingcenter.org/) when I lived in DC.

![drawing](assets/img/drawing-dave1.jpg)

![drawing](assets/img/drawing-girl1.jpg)

![drawing](assets/img/drawing-dave2.jpg)

{{/markdown}}



    </div>
</article>
