<article class="article" id="article-frontending-at-opower">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Hey! I’m Justin, and this is my website.
            </h1>
            <h2 class="subtitle">
                I don’t like labels, but you can call me an interaction designer if you’re into that.
            </h2>
        </div>
        <a class="close-article" href="#/">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">



{{#markdown}}


{{/markdown}}



    </div>
</article>
