<article class="article" id="article-illustration">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Picturing Energy Efficiency
            </h1>
            <h2 class="subtitle">
                How to describe two-hundred methods of saving energy without words
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">



{{#markdown}}

When we decided to build a new design system for Opower ([check out this page](#opattern) for a deep-dive on that process), we made some bold decisions about imagery. Specifically, we decided that stock photography had to disappear from all of our products for a few different reasons:

1. Stock photography didn’t fit with the rest of the design system. 
1. We always had to settle when choosing a photograph: it was rare that we ever found the perfect photo that nailed the concept.
1. Photographs were too locale-specific. Since Opower went international, we needed a library of images that worked for a multitude of countries, ethnic groups, and cultures.
1. Stock photos? Gross.

Out with photos! In with **custom illustrations**. 

We use images in a few different ways across Opower’s web, email, and print products. The most common use, however, was instructional: to demonstrate energy-efficient behaviors or the outcomes of saving energy. Most of our products make use of an expansive library of instructional tips—how-to guides for becoming more efficient—and every tip had a descriptive photograph. 

To help us define a unique illustration style to replace these photographs, we brought in visual designer [Amanda Dowd](http://www.dowddesign.com/). The style had to be simple and friendly, and also had to translate well across languages and locales.

![Illustration style](assets/img/illustration/Illustration-style.png)

While Amanda nailed down our style, we settled on some rules for our new illustration system:

<div class="flow">

<p>
**No people**  
We could convey human presence or activity, but we should never depict actual humans. 
![No people](assets/img/illustration/no-people.png)
</p>

<p>
**Simple color**  
Keep the colors in a neutral palette of grays, except for one color that would pop and draw attention to the energy-efficient behavior (this color would be customizable to match our customers’ brands).
![Color palette](assets/img/illustration/palette.png)

<p>
**Keep it fun**  
Every so often, throw in a cat. Or a dog, or bird, or any fun quirky thing to make our products fun, family-friendly, and interesting.
![Cat](assets/img/illustration/cat.png)
</p>

<p>
**Two sizes**  
Every illustration should come in two levels of detail: a more detailed version to blow up big, and a smaller, less-detailed version for thumbnails and decorative elements.
![Two sizes](assets/img/illustration/two-sizes.png)
</p>

</div>

With our style designed and our framework established, we started churning out illustrations. We only had a few hundred to do! The designers who contributed to this awesome library include [Amanda Dowd](http://www.dowddesign.com/), [Arthur Mount](http://arthurmount.com/), [Ryan Hansz](http://www.ryanhansz.com/), myself, and many others.

<div class="image-grid no-shadow" style="padding: 20px 0;">
    <div class="image-grid-50">
        <div>
![Illustrations](assets/img/illustration/illustrations-1.png)
        </div>
    </div>
    <div class="image-grid-50">
        <div>
![Illustrations](assets/img/illustration/illustrations-2.png)
        </div>
    </div>
    <div class="image-grid-50">
        <div>
![Illustrations](assets/img/illustration/illustrations-3.png)
        </div>
    </div>
    <div class="image-grid-50">
        <div>
![Illustrations](assets/img/illustration/illustrations-4.png)
        </div>
    </div>
</div>

Yeah, there are at least a hundred more of these. Check back soon for an article about illustration systems at scale!


{{/markdown}}


    </div>
</article>
